* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    color: aliceblue;
}

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    display: block;
    text-align: right;
    font-size: 1.1rem;
}

.carousel-image {
    filter: brightness(50%);
}

.hon {
    background-color: #3b3c3d;
    width: 100%;
    height: 100%;
    color:aliceblue;
}

.logo {
    display: flex;
    justify-content: left;    
}

.logo a {
    color:aliceblue;
}


.form-item {
    width: 100%;
}

.footer {
    background-color: rgb(7, 44, 99);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*comprar tickets*/



.tickets-container {
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.ticket-box {
    border-style: solid;
    border-color: black;
    display: flexbox;
    justify-content: center;
    margin: 5px;
}

.card_e{
    border-color: rgb(27,136,253);
}
.card_t{
border-color: rgb(48,170,190);
}
.card_j{
border-color: rgb(253,198,34);
}



.ticket-estudiante {
    border-style: solid;
    border-color:rgb(7, 44, 99);
}
.button-color2{
    width: 100%;
        background-color:rgb(150,201,62);
    }
    .button-color2:hover{
        background-color:rgb(98, 131, 42);
    }

    .total{
        background-color: rgb(204,229,255);
        height: 50px;
        border-radius: 10px;
    }
    .total p{
        color: rgb(24,88,155);
    }
